.list-item{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.App{
  text-align: center;
}
.list{
  width: 20vw;
  margin: 0 auto;
  padding-top: 1rem;
}
.user-name{
   
}